<h2>Créer un nouvels évènement :</h2>


<form class="" action="/events" method="post">
  Date de l'event :
  <input type="datetime" name="start_date" value="">
  Durée :
  <input type="integer" name="duration" value="">
  Titre :
  <input type="string" name="title" value="">
  Description :
  <input type="text" name="description" value="">
  Price :
  <input type="integer" name="price" value="">
  Location :
  <input type="string" name="location" value="">
<!-- buttons -->
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Créer l'évènement">
</form>
